Cataloger/WebContent/wsdl/AuthenticateUser.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://admin.goynaa" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://admin.goynaa" xmlns:intf="http://admin.goynaa" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://admin.goynaa" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="authenticateUser">
    <complexType>
     <sequence>
      <element name="email" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="authenticateUserResponse">
    <complexType>
     <sequence>
      <element name="authenticateUserReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="authenticateUserRequest">

      <wsdl:part element="impl:authenticateUser" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="authenticateUserResponse">

      <wsdl:part element="impl:authenticateUserResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="AuthenticateUser">

      <wsdl:operation name="authenticateUser">

         <wsdl:input message="impl:authenticateUserRequest" name="authenticateUserRequest">

       </wsdl:input>

         <wsdl:output message="impl:authenticateUserResponse" name="authenticateUserResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="AuthenticateUserSoapBinding" type="impl:AuthenticateUser">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="authenticateUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="authenticateUserRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="authenticateUserResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="AuthenticateUserService">

      <wsdl:port binding="impl:AuthenticateUserSoapBinding" name="AuthenticateUser">

         <wsdlsoap:address location="http://localhost:8080/Cataloger/services/AuthenticateUser"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
